<html>
  <body>
    <form method="POST" action="/new">
      <p>new message</p>
      <input type="text" name="message" />
      <p>user</p>
      <input type="text" name="user" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
